.banner{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: none;
    scroll-behavior: smooth;
}

.banner-visivel{
    animation: fade ease-in-out 1s ;
    display: flex;
}

@keyframes fade{
    0%{
        opacity: 10%;
        filter: brightness(50%);
    }
    100%{
        opacity: 100%;
        filter: brightness(100%);
    }
}


