.formulario__campos{
    width: 38rem;
    height: 22.3rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto;
}

.campos{
    display: flex;
    flex-direction: column;
}

.campos__input{
    width: 15rem;
    border: gray 1px solid;
    border-radius: 5px;
    padding: 7px;
    margin-block-end: 1rem;
}

.campos__endereco{
    grid-column: span 2;
}

.campos__endereco .campos__input{
    width: 34.3rem;
}

.campos__endereco-2{
    grid-column: span 2;
}

.campos__endereco-2 .campos__input{
    width: 34.3rem;
}

